footer {
  position: fixed;
  bottom: 0;
  background-color: #000;
  width: 100%;
  padding: 0.5em;
}

.line {
  width: 30%;
}

hr {
  margin-bottom: 0.5em;
}

.icon {
  margin-right: 1em;
}

.copyright {
  text-align: center;
  color: #fff;
  margin-bottom: 0.5em;
}

@media screen and (max-width: 1024px) {
  .line {
    width: 40%;
  }
}
