:root {
  --mainColor: #8b008b;
}

header {
  background-color: var(--mainColor);
}

.container {
  width: 95%;
  /* background-color: orange; */
  margin: 0 auto;
  max-width: 1200px;
}

.container-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 130px;
  padding: 0.5em 0;
}

.menu {
  display: flex;
}

.menuItem {
  margin-left: 2em;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
}

.activeItem {
  color: orange;
  border-bottom: 0.1em double #fff;
}

.icon {
  color: #fff;
  font-size: 1.5rem !important;
  margin-right: 1em;
  margin-left: 1.5em;
}

/* media queries */
@media screen and (max-width: 1100px) {
  .icon {
    margin-left: 1em;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 13px;
  }
  .container-flex {
    flex-direction: column;
  }
  .logo {
    width: 150px;
  }
  .icon {
    margin: 1em 1.5em;
  }
}

@media screen and (max-width: 568px) {
  html {
    font-size: 11px;
  }
  .menu {
    flex-direction: column;
  }
  .menuItem {
    margin-top: 0.2em;
  }
  .logo {
    width: 100px;
  }
}
